<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/animal}" method="POST" th:object="${messageForm}">
        <label for="animalText">Enter an Animal: </label>
        <input th:field="*{animalName}" type="text" id="animalText" name="animalText">
        <label for="adjective">Enter an Adjective:</label>
        <input th:field="*{adjective}" type="text" id="adjective" name="adjective">
        <input type="submit">
    </form>
    <h1 th:unless="${#lists.size(animalName) > 5}" th:each="msg : ${animalName}" th:text="${msg}">Hello, homepage!</h1>
    <h1 th:if="${#lists.size(animalName) > 5}">I think that's enough!</h1>
 </body>
</html>
